@keyframes spin {
    100% { transform: rotate(359deg); }
}

@keyframes changeColor {
    50% {
        background-color: rgb(0, 63, 0);
    }
}

#star {
    animation: spin 2s linear infinite;
}

#main-container {
    height: 97vh;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
    animation: changeColor 5s infinite;
    background-color: black;
    color: white;
}

.titolo {
    cursor: default;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(28, 87, 0, 0.5);
}

.risposta {
    margin-bottom: 10%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#risposta {
    margin: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s, border 0.3s;
}

#risposta:focus {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
}

#help {
    cursor: default;
}

.text-muted {
    color: white !important;
}

.custom-btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    cursor: pointer;
}

.footer {
    background-color: black;
    animation: changeColor 5s infinite;
    width: 100%;
    
    color: whitesmoke;
    text-align: center;
    cursor: default;
}

.logo_container {
    background-color: black;
    animation: changeColor 5s infinite;
    width: 200px;
    height: auto; 
    overflow: hidden;
    position: relative;
}

.logo_container .background-overlay-1 {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
}

.image-container {
    display: flex;
}
  
.original-image, .mirrored-image {
    width: 150px; 
    height: auto; 
    margin-right: 10px; 
}
  
.mirrored-image {
    transform: scaleX(-1);
}

.fuochi-image, .gameover-image {
    width: 100%; 
    height: 100%; 
    border-radius: 100%;
    margin-top: 20px;
    border: 4px solid #ccc; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#result-container {
    height: 97vh;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
    animation: changeColor 5s infinite;
    background-color: black;
    color: white;
}


#error-message {
    
    animation: error-animation 0.5s ease-in-out;
}

@keyframes error-animation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
